<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Calculator</title>{% endblock %}
</head>

<body>
{% block sidebar %}
    <ul class="sidebar-nav">
        {% if user.is_authenticated %}
            <li>User: {{ user.get_username }}</li>
            {#            Source of registration templates https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication#}
            <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
            <li><a href="/api/history">History</a></li>
        {% else %}
            <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
        {% endif %}
    </ul>
{% endblock %}
{% block content %}{% endblock %}
</body>
</html>
