<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Calculator</title>{% endblock %}
</head>

<body>
{% block sidebar %}
    <ul class="sidebar-nav">
        {% if user.is_authenticated %}
            <li>User: {{ user.get_username }}</li>
            <li><a href="/auth/logout?next={{ request.path }}">Logout</a></li>
            <li><a href="/api/history">History</a></li>
        {% else %}
            <li><a href="/auth/login?next={{ request.path }}">Login</a></li>
        {% endif %}
    </ul>
{% endblock %}
{% block content %}{% endblock %}
</body>
</html>
